@import '../SCSS/theme.scss';

.home-page1-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    #big {
        z-index: 0;
        position: absolute;
        top: -200px;
        margin: 0px;
        font-size: 100vh;
        opacity: 0.15;
        animation: textScroll 200s infinite linear;
    }

    .home-page1-body {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: filter 2s;

        ins {
            font-size: 70px;
            margin: 0px;
            text-decoration: none;
            overflow: hidden;
            white-space: nowrap;
            color: $accent1;
            font-family: 'Sprite Extras';
            animation: extras 1s ease;
            width: 100px;

            @include mobile {
                font-size: 30px;
                width: 32px;
                animation: none;
            }
        }
        

        .home-page1-div {
            display: flex;
            align-items: center;

            h1 {
                z-index: 2;
                font-family: 'Sprite';
                text-align: center;
                font-size: 80px;
                font-weight: 400;
                color: $white;
                margin: 0px;
                animation: type1 2s steps(16, end);
                overflow: hidden;
                width: 16ch;
                white-space: nowrap;
                padding-right: 4px;
    
                @include mobile {
                    font-size: 40px;
                }
            } 
            
            #line {
                height: 90px;
                width: 1px;
                background-color: white;

                @include mobile {
                    height: 40px;
                }
            }
        } 

        .home-page1-div2 {
            display: flex;
            align-items: center;

            p {
                opacity: 0;
                font-weight: 300;
                margin: 0px;
                color: $light;
                font-size: 28px;
                text-align: center;
                margin: 0px;
                animation: type2 1.5s steps(20, end);
                animation-delay: 1.9s;
                overflow: hidden;
                width: 16ch;
                white-space: nowrap;
                @include mobile {
                    font-size: 20px;
                }
            } #line2 {
                opacity: 0;
                height: 30px;
                width: 1px;
                background-color: white;

                @include mobile {
                    height: 20px;
                } 
            }
            
        }
    }
}