@import '../SCSS/theme.scss';

.portfolio-container {
    height: fit-content;
    max-width: 1200px;
    min-width: 100px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid rgba(53, 53, 53, 0.151);

    @include mobile {
        padding: 5px;
        margin-top: 40px;
    }

    .portfolio-row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 100%;
        background-color: black;
        border: none;

        @include mobile {
            height: 150px;
        }

        h3 {
            
            color: white;
            font-size: 20px;
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.527);
        }
    }
}

#nomiButton {
    background-color: transparent;
    background-image: URL('../SCSS/images/nomi.png');
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}