@import '../SCSS/theme.scss';

.home-page1-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .mouse {
        color: $light;
        left: 50%;
        bottom: 20px;
        font-size: 30px;
        transform: translate(-50%, -50%);
        position: absolute;
        transition: 2s ease;
    }

    #big {
        z-index: 0;
        position: absolute;
        top: -200px;
        margin: 0px;
        font-size: 100vh;
        opacity: 0.15;
        animation: textScroll 140s infinite linear;
    }

    .home-page1-body {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: filter 2s;

        ins {
            font-size: 70px;
            margin: 0px;
            text-decoration: none;
            overflow: hidden;
            white-space: nowrap;
            color: $accent1;
            font-family: 'Sprite Extras';
            animation: extras 1s ease;
            width: 100px;

            @include mobile {
                font-size: 60px;
                width: 32px;
                animation: none;
            }
        }
        

        .home-page1-div {
            display: flex;
            align-items: center;

            h1 {
                z-index: 2;
                text-align: center;
                font-size: 70px;
                font-weight: 800;
                color: $white;
                margin: 0 auto;
                overflow: hidden;
                white-space: nowrap;
                border-right: 3px solid white;
                animation: 
                    type 2s steps(16, end),
                    blink-caret .75s step-end infinite;

    
                @include mobile {
                    font-size: 28px;
                }
            } 
        } 

        .home-page1-div2 {
            display: flex;
            align-items: center;

            p {
                font-weight: 300;
                margin: 0px;
                color: $light;
                font-size: 28px;
                text-align: center;
                margin: 0px;
                overflow: hidden;
                white-space: nowrap;
                @include mobile {
                    font-size: 23px;
                }
            }    
        }
    }
}

@keyframes type {
    from {
        width: 0ch;
    } to {
        width: 100%;
    }
}


@keyframes blink-caret {
    from {
        border-color: transparent
    } 50% {
        border-color: white;
    } to {
        border-color: transparent
    }
}