@import '../SCSS/theme.scss';

.home-page2-container {
    position: relative;
    display: flex;
    background-color: $verydark;
    height: fit-content;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    
    #arrow {
        z-index: 1;
        position: absolute;
        width: 10%;
        min-width: 120px;
        bottom: 300px;
        right: 5%;
        transform: rotate(140deg) scaleY(-1);

        @include mobile {
            opacity: .05;
        }
        @include tablet {
            opacity: 0;
        }
    }

    .home-page2-box1 {
        opacity: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        margin: 100px auto 0px auto;
        transition: 1s ease;
        @include mobile {
            min-width: 0px;
            width: 95%;
            margin: 0 auto;
        }

        .home-page2-box1-img {
            z-index: 1;
            width: 400px;
            border-radius: 100%;
            height: 380px;
            background-color: grey;
            margin: 20px 30px;

            @include mobile {
                margin: 0 auto;
                width: 250px;
                height: 250px;
            }
        }

        .home-page2-box1-text {
            color: $light;
            max-width: 700px;
            min-width: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @include mobile {
                align-items: center;
                margin-top: 30px;
                text-align: center;
            }

            h2 {
                color: $white;
                font-size: 40px;
                margin: 0px;
            } ins {
                font-family: 'Sprite Extras';
                text-decoration: none;
                color: $accent1;
                font-size: 30px;
                margin: 0px;
            } p  {
                font-size: 17px;
                z-index: 3;
                span {
                    color: $accent2;
                }
            }
        }
    }
    .home-page2-box2 {
        opacity: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: 900px;
        min-width: 100px;
        height: fit-content;
        margin: 100px auto 100px auto;
        transition: 1s ease;


        @include mobile {
            min-width: 0px;
            width: 95%;
            margin: 0 auto;
        }

        .home-page2-box2-cube {
            align-items: flex-start;
            background-attachment: scroll;
            background-clip: border-box;
            background-color: #FFA500;
            background-origin: padding-box;
            background-size: auto;
            border-bottom-color: black;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-image-outset: 0px;
            border-image-repeat: stretch;
            border-image-slice: 100%;
            border-image-source: none;
            border-image-width: 1;
            border-left-color: black;
            border-left-style: solid;
            border-left-width: 1px;
            border-right-color: black;
            border-right-style: solid;
            border-right-width: 1px;
            border-top-color: black;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-top-style: solid;
            border-top-width: 1px;
            box-shadow: #80B2FF 0px 1px 1px 0px inset;
            box-sizing: border-box;
            color: rgb(255, 255, 255);
            cursor: pointer;
            direction: ltr;
            display: inline-block;
            font-family: 'Arial', 'Helvetica Neue', 'Segoe UI', 'Malgun Gothic', Meiryo, 'Microsoft JhengHei', helvetica, arial, sans-serif;
            font-size: 12px;
            font-stretch: normal;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            height: 31px;
            letter-spacing: 1px;
            line-height: 15.12px;
            margin-bottom: 10px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 10px;
            min-width: 194px;
            padding-bottom: 7px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 7px;
            position: relative;
            text-align: center;
            text-indent: 0px;
            text-rendering: optimizeLegibility;
            text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 2px;
            text-transform: none;
            width: 194px;
            word-spacing: 0px;
            writing-mode: lr-tb;
            -webkit-writing-mode: horizontal-tb;
            zoom: 1;
            left: 37px;
            top: 515px;
            position: absolute;
        }


        .home-page2-box2-text {
            position: relative;
            color: $light;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                z-index: 1;
                color: $white;
                font-size: 120px;
                margin: 0px;

                @include mobile {
                    margin-top: 50px;
                    font-size: 40px;
                    text-align: center;
                }
            }
        }
    }
}