@import '../SCSS/_theme.scss';

.home-page1-container {
    background-color: $verydark;
    height: 100vh;
    width: 100%;

    .home-page1-body {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-family: 'Sprite';
            text-align: center;
            font-size: 80px;
            font-weight: 400;
            color: $white;
            margin: 0px;
            animation: type 2s steps(16, end);
            overflow: hidden;
            width: 16ch;
            white-space: nowrap;
            border-right: 3px solid white;
            transition: 1s ease;

            @include mobile {
                font-size: 40px;
            }
        } p {
            font-weight: 300;
            margin: 0px;
            color: $light;
            font-size: 28px;
            @include mobile {
            }
        } ins {
            font-size: 70px;
            margin: 0px;
            text-decoration: none;
            overflow: hidden;
            white-space: nowrap;
            color: $accent1;
            font-family: 'Sprite Extras';
            animation: extras 1s ease;
            width: 100px;
        }
    }
}
.home-page2-container {

}

@keyframes type {
    from {
        width: 0ch;
    } to {
        width: 16ch;
    }
}

@keyframes extras {
    from {
        width: 0px;
    } to {
        width: 100px;
    }
}