@import '../SCSS/_theme.scss';

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 10;
    opacity: 1;
    position: fixed;
    height: 100%;
    width: 130px;
    left: -65px;
    transition: left .4s ease;
    background-color: $extremelydark;

    #canDiv {
        position: absolute;
        bottom: 5px;
        left: -20px;
        width: 130px;
        
        &:hover {
            transform: scale(0.9)
            
        }

        @include mobile {
            display: none;
        }

        #canButton {
            width: 30px;
        }
    }

    #navLine {
        position: absolute;
        width: 1px;
        height: 100vh;
        background-color: $dark;
        left: 65px;

        @include mobile {
            display: none;
        }
    }

    @include mobile {
        left: 0px;
        height: 60px;
        width: 100%;
        bottom: 0px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    button {
        background: none;
        border: none;
        transition: .2s ease;
        svg {
            font-size: 28px;
            color: $accent1;
        }

        &:hover {
            background-color: black;

        }

        &:focus {
            outline: none;
        }

        div {
            width: 110px;
            justify-content: flex-end; 
            align-items: center;
            margin-right: 14px;
            display: flex;
            transition: 1s ease;
    
            @include mobile {
                width: fit-content;
                justify-content: center;
                margin-right: 0px;
            }
    
            .hidden {
                text-align: right;
                margin-right: 22px;
                width: fit-content;
                opacity: 1;
                color: $light;
                font-family: 'Sprite';
                font-size: 14px;
        
                @include mobile {
                    display: none;
                }
                
            }
        }
    }
}


.blurred {
    filter: blur(10px) !important;
    transform: scale(0.9);
}
.fade-animation {
    animation: zoom 2s ease;
    opacity: 1 !important;
    @include mobile {
        animation: none;
    }
}


.home-container {
    padding-left: 65px;
    overflow: hidden;
    background-color: $verydark;

    @include mobile {
        padding-left: 0px;
    }

    .home-decorations {
        font-family: 'Sprite Extras';
        color: $dark;
        opacity: 1;
        position: relative;


        #home-decoration1 {
            z-index: 1;
            position: absolute;
            top: 10%;
            left: 70%;
            color: $accent1;
            font-size: 400px;
            margin: 0px;
        }
        #arrow {
            z-index: 1;
            position: absolute;
            top: 40vh;
            transform: scale(-1) rotate(-130deg);
            left: 1%;
            color: $accent1;
            width: 500px;
            margin: 0px;     
            animation: popIn 3s ease;
            
            @include mobile {
                width: 300px;
                top: 70vh;
                left: -30%;
            }
        }
        #can {
            z-index: 0;
            position: absolute;
            top: 60vh;
            transform: rotate(-40deg);
            right: -200px;
            opacity: 1;
            width: 500px;
            margin: 0px;         
            
            @include mobile {
                width: 300px;
            }
        }
    }
}


.home-page1-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    #big {
        z-index: 0;
        position: absolute;
        top: -200px;
        margin: 0px;
        font-size: 900px;
        opacity: 0.15;
        animation: textScroll 200s infinite linear;
    }

    .home-page1-body {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ins {
            font-size: 70px;
            margin: 0px;
            text-decoration: none;
            overflow: hidden;
            white-space: nowrap;
            color: $accent1;
            font-family: 'Sprite Extras';
            animation: extras 1s ease;
            width: 100px;

            @include mobile {
                font-size: 30px;
                width: 32px;
                animation: none;
            }
        }
        

        .home-page1-div {
            display: flex;
            align-items: center;

            h1 {
                z-index: 1;
                font-family: 'Sprite';
                text-align: center;
                font-size: 80px;
                font-weight: 400;
                color: $white;
                margin: 0px;
                animation: type1 2s steps(16, end);
                overflow: hidden;
                width: 16ch;
                white-space: nowrap;
                padding-right: 4px;
    
                @include mobile {
                    font-size: 40px;
                }
            } 
            
            #line {
                height: 90px;
                width: 1px;
                background-color: white;

                @include mobile {
                    height: 40px;
                }
            }
        } 

        .home-page1-div2 {
            display: flex;
            align-items: center;

            p {
                opacity: 0;
                font-weight: 300;
                margin: 0px;
                color: $light;
                font-size: 28px;
                text-align: center;
                margin: 0px;
                animation: type2 1.5s steps(20, end);
                animation-delay: 1.9s;
                overflow: hidden;
                width: 16ch;
                white-space: nowrap;
                @include mobile {
                    font-size: 20px;
                }
            } #line2 {
                opacity: 0;
                height: 30px;
                width: 1px;
                background-color: white;

                @include mobile {
                    height: 20px;
                } 
            }
            
        }
    }
}

.home-page2-container {
    display: flex;
    background-color: $verydark;
    height: fit-content;
    width: 100%;
    justify-content: center;

    .home-page2-box1 {
        opacity: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        margin: 100px auto;
        transition: 1s ease;
        @include mobile {
            min-width: 0px;
            width: 95%;
            margin: 0 auto;
        }

        .home-page2-box1-img {
            z-index: 1;
            width: 400px;
            border-radius: 100%;
            height: 380px;
            background-color: grey;
            margin: 20px 30px;

            @include mobile {
                margin: 0 auto;
                width: 250px;
                height: 250px;
            }
        }

        .home-page2-box1-text {
            color: $light;
            max-width: 700px;
            min-width: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @include mobile {
                align-items: center;
                margin-top: 30px;
            }

            h2 {
                font-family: 'Sprite';
                color: $white;
                font-size: 40px;
                margin: 0px;
            } ins {
                font-family: 'Sprite Extras';
                text-decoration: none;
                color: $accent1;
                font-size: 30px;
                margin: 0px;
            }
        }
    }
}

.home-page3-container {
    height: 1500px;
    width: 100%;
}

@keyframes type1 {
    from {
        width: 0ch;
    } to {
        width: 16ch;
    }
}

@keyframes type2 {
    from {
        opacity: 1;
        width: 0ch;
    } to {
        opacity: 1;
    }
}

@keyframes extras {
    from {
        width: 0px;
    } to {
        width: 100px;
    }
}

@keyframes zoom {
    0% {
        filter: blur(10px);
        opacity: 0;
        transform: scale(2)
    } 50% {
        opacity: 0.3;
    } 80% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes textScroll {
    from {
        transform: translate(0px, 0px)
    } to {
        transform: translate(-4000px, 0px)
    }
}

@keyframes popIn {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(1)
    } 60% {
        transform: scale(1)
    } 80% {
        transform: scale(1)
    } 100% {
    }
}