@import '../SCSS/_theme.scss';


.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .loader-svg {
        width: 100px;
        height: 100px;
        #loader-ball1 {
            left: 50px;
            position: absolute;
            animation: ball 1s linear infinite;
            animation-delay: .2s;
        }
        #loader-ball2 {
            left: 0px;
            position: absolute;
            animation: ball 1s linear infinite;
            animation-delay: .1s;
        }
        #loader-ball3 {
            left: -50px;
            position: absolute;
            animation: ball 1s linear infinite;
            animation-delay: 0s;
        }
    }

    @keyframes ball {
        0% {
            transform:  translate(0px, 0%)
        }
        50% {
            transform: translate(0px, 50%)
        }
        100% {
            transform: translate(0px, 0%)
        }
    }
}