@import '../SCSS/theme.scss';

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 10;
    opacity: 1;
    position: fixed;
    height: 100%;
    width: 60px;
    left: 0px;
    background-color: $extremelydark;
    z-index: 15;
    border-right: 5px solid $verydark;
    
    @include mobile {
        left: 0px;
        height: 60px;
        width: 100%;
        bottom: 0px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    button {
        background: none;
        border: none;
        transition: .2s ease;
        margin: 2px;
        
        svg {
            font-size: 28px;
            color: $accent1;
        }

        &:focus {
            outline: none;
        }
    }
}
