@import 'SCSS/_theme.scss';


.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: $extremelydark;
  color: $light;
}

.page-container {
    position: relative;
    overflow: hidden;
}

.page-triangle {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 200px solid $extremelydark;
}
.page-triangle2 {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-top: 200px solid $extremelydark;  
}
.page-triangle3 {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 200px solid $extremelydark; 
}

.blurred {
    filter: blur(10px) !important;
    transform: scale(0.9);
}
.blinking {
    animation: blink 1s infinite;
}
.fade-animation {
    animation: zoom 2s ease;
    opacity: 1 !important;
    @include mobile {
        animation: none;
    }
}
.blurBox {
    z-index: 10;
    position: absolute;
    backdrop-filter: blur(5px);
    opacity: 1;
    width: 1000%;
    height: 1000%;
    background-color: none;
    display: none;
    transition: 1s ease;
}


.home-container {
    padding-left: 65px;
    position: relative;
    overflow: hidden;
    background-color: $verydark;

    @include mobile {
        padding-left: 0px;
    }


    .home-corner {
        position: fixed;
        width: 10%;
        z-index: 11;
        opacity: .3;
    
    }
    #one {
        top: 0px;
        left: 60px;
        transform: rotate(90deg);
        @include mobile {
            left: 0px;
        }
    }
    #two {
        top: 0px;
        right: 0px;
        transform: rotate(180deg);
    }
    #three {
        top: 85vh;
        left: 60px;
        @include mobile {
            left: 0px;
        }
    }
    #four {
        top: 85vh;
        right: 0px;
        transform: rotate(270deg);
    }


    .home-decorations {
        font-family: 'Sprite Extras';
        color: $dark;
        opacity: 1;
        position: relative;


        #home-decoration1 {
            position: absolute;
            top: 10%;
            left: 70%;
            color: $accent1;
            font-size: 30vw;
            margin: 0px;
        }
        #arrow {
            z-index: 1;
            position: absolute;
            top: 40vh;
            transform: scale(-1) rotate(-130deg);
            left: 1%;
            color: $accent1;
            width: 30%;
            margin: 0px;     
            animation: popIn 3s ease;
            
            @include mobile {
                width: 300px;
                top: 70vh;
                left: -30%;
            }
        }
    }
}


@keyframes extras {
    from {
        width: 0px;
    } to {
        width: 100px;
    }
}

@keyframes zoom {
    0% {
        -webkit-filter: blur(5px);
        filter: blur(5px);
        opacity: 0;
    } 50% {
        opacity: 0.5;
    } 80% {
        opacity: 1;
    }
}

@keyframes textScroll {
    from {
        transform: translate(0px, 0px)
    } to {
        transform: translate(-4000px, 0px)
    }
}


@keyframes blink {
    0% {
        opacity: 0;
    } 49% {
        opacity: 0;
    } 51% {
        opacity: 1;
    } 100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes modal-open {
    from {
        clip-path: circle(0% at 0% 0%);
        visibility: visible;
    } to {
        visibility: visible;
        clip-path: circle(100% at 50% 50%);
    }
}

@keyframes modal-close {
    from {
        visibility: visible;
        opacity: 1;
    } to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes skill-fade-in {
    from {
        opacity: 0;
        transform: translate(0px, -50px) 
    } to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes skill-fade-in-2 {
    from {
        opacity: 0;
        transform: translate(-100px, 0px) 
    } to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes skill-fade-in-3 {
    from {
        opacity: 0;
        transform: translate(50px, 50px)
    } to {
        opacity: 1;
    }
}
