$dark: #222629 !default;
$verydark: #16191b !default;
$extremelydark: #101214 !default;
$navdark: #1f2325 !default;
$medium: #474B4F !default;
$light: #6B6E70 !default;
$lighter: #b9b9b9 !default;
$accent1: #da710f !default;
$accent2: #c0731a !default;
$white: rgb(218, 218, 218) !default;


@mixin mobile {
    @media (max-width: 600px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 900px) {
        @content;
    }
}